{% extends 'music/base.html' %}

{%block body%}
<h1><center>Select songs to add in {{playlist.playlist_title}}</center></h1>
<form action="/addsongstoplaylist/{{playlist.id}}" method="post">
{% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
					<table class="table">
                        <thead>
                            <tr>
                            	<th>select</th>
                                <th>Song</th>
                                <th>Album</th>
                                <th>Play</th>
                            </tr>
                        </thead>
                        <tbody>
                       		{% for song in songs %}
                            <tr>
								<td><input type="checkbox" name="songid[]" value="{{song.id}}" ></td>
                                <td>{{song.song_title}}</td>
								<td>
                                    <a href="{% url 'music:detail' song.album.id %}">
                                        <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                    </a>
                                    <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                </td>
								<td>
									<button type="button" class="btn btn-success btn-xs" onclick="playthis('{{ song.audio_file.url }}')">
                                    	<span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                    </button>
                                </td>
                            </tr>
                        	{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>        
{% endblock %}

{%block playlists_active%}
active
{%endblock%}