<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mahimusic{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'music/styles/index_style.css' %}"/>    
    <link href="{% static 'music/fonts.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'music/bootstrap.css' %}"/>    
    <script type="text/javascript">
        var music = "{% url 'music:myalbums' %}";
        var users = "{% url 'music:users' %}";
    </script>
    <script src="{% static 'music/js/jquery.js'%}"></script>
    <script src="{% static 'music/js/ajax.js' %}"></script>            
    <script src="{% static 'music/js/bootstrap.js' %}"></script>
    <script src="{% static 'music/js/main.js' %}"></script>
    <script src="{% static 'music/js/jquery.form.min.js' %}"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">


            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor: pointer;"  id="home_button">Mahimusic</a>
            </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                {%if request.user.id%}
                <li  id="albums_button" style="cursor: pointer;"><a  ><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> &nbsp; Albums</a></li>
                {%endif%}
                <li style="cursor: pointer;" id="users_button"><a ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; Users</a></li>
            </ul>
            <ul class="dropdown">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                    {% csrf_token %}
                        <input type="text" name="search" id = "search" autocomplete="off">
                    </div>
                </form>
                    <!-- Content get replaced after serach query is provided -->
                <div class="dropdown-content" id="dropdown-content">    
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="play all" href="#" onclick="playall();return false;"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Play All</a>
                </li>
                {%if request.user.id%}
                <li>
                    <a id="addsong" href="#" onclick="startmodal();return false;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Songs</a>
                </li>
                
                <li>
                    <a href="{% url 'music:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
                {%else%}
                <li>
                    <a href="{% url 'music:login_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Login/Signup
                    </a>
                </li>
                {%endif%}
            </ul>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="inside-modal" id="myModalcontent"></div>
                
            </div>
            <div id="status"></div>
        </div>
    </div>
</nav>
<div class="impor">
{% block body %}
{% endblock %}
</div>
<audio controls id = "audio"> <!-- One or more source files, each referencing the same audio but in a different file format. The browser will choose the first file which it is able to play. -->  You will see this text if native audio playback is not supported. <!-- You could use this fall-back feature to insert a JavaScript-based audio player. --> </audio> 

<script type="text/javascript">var listbuffer = {{songstoplay|safe}};</script>
<script src="{% static 'music/js/player.js' %}"></script>
<script type="text/javascript">
var albums_button = $("#albums_button");
var users_button = $("#users_button"); 
var home_button = $("#home_button");

function ActiveClass(butn) {
    albums_button.removeClass("active");
    users_button.removeClass("active");
    butn.addClass("active");
}
var home = "{% url 'music:index' %}";
var albums = "{% url 'music:myalbums' %}";
var users = "{% url 'music:users' %}";
home_button.click(function(){
    replace(home);
    ActiveClass(home_button);
});
albums_button.click(function () {
    replace(albums);
    ActiveClass(albums_button);
});


users_button.click(function(){
    replace(users);
    ActiveClass(users_button);
})
    var span = document.getElementsByClassName("close")[0];
    var modal = document.getElementById('myModal');

    span.onclick = function() {
        modal.style.display = "none";
    }

    function startmodal(){
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>
