{% extends 'music/base.html' %}

{% block body %}
<div class="impo">
        <script type="text/javascript">var listbuffer ={{songstoplay|safe}};</script>

<div class="albums-container container-fluid">
    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            {{artwork}}
            {% if albums %}
            <div class = "maindiv">
                {%if searched%}
                <center><h2 style="center">{{searchedUser}}'s Mahi</h2></center>
                {% endif %}
                <div class = "album_containers">       
                    <div class = "albums_m">
                    {% for album in albums %}
                        <div class="single_album">
                            <div class="album_logo">
                            {% url 'music:detail' album.id as link%}                                
                                <img id="myImage" src="{{ album.album_logo.url }}" class="img-responsive" onclick="replace('{{link}}')" style="cursor: pointer;">
                                <span class="text-block">
                                    <h5>{{album.album_title}}</h5>
                                    
                                </span>
                                <object class="playalbum" onclick="playthisalbum('{{album.id}}')"><span style="cursor: pointer;font-size:50px;color:red" class="glyphicon glyphicon-play" aria-hidden="true"></span></object>                            
                            </div>
                            {%if not searched and request.user.id%}
                                {% if album.id in useralbums %}
                                <button type="button" class="btn btn-success">Grabbed</button>
                                {%else%}
                                {% url 'music:addgivenalbum' album.id as link1%}
                                {% url 'music:index'  as link2%}                                
                                <button type="button" class="btn btn-info" onclick="addalbumscript('{{link1}}','{{link2}}')">Grabit</button>                                {%endif%}
                                {%endif%}                       
                        </div>
                        {% cycle '' '' '' '' '' '' %}
                    {% endfor %}
                    </div>
                </div>
            </div>    
            {% endif %}            
        </div>   
    </div>
</div>
</div>
{% endblock %}

