{% extends 'music/base.html' %}

{% block body %}
<div class="impo">
<div class="albums-container container-fluid">
    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ user.username }}'s Albums</h3>                
            {{artwork}}
            {% if albums %}
            <div class = "maindiv">
                <div class = "album_containers">       
                    <div class = "albums_m">
                    {% for album in albums %}
                        <div class="single_album">
                            <div class="album_logo">
                            {% url 'music:detail' album.id as link%}                                
                                <img id="myimage" src="{{ album.album_logo.url }}" class="img-responsive" onclick="replace('{{link}}')" style="cursor: pointer;">
                                <span class="text-block">
                                    <h5>{{album.album_title}}</h5>
                                </span>
                            </div>                       
                        </div>
                        {% cycle '' '' '' '' '' '' %}
                    {% endfor %}
                    </div>
                </div>
            </div>    
            {% endif %}            
        </div>   
    </div>
</div>
</div>
{% endblock %}

