
    {% extends 'music/base.html' %}

    {% block body %}
    <div class="impo">
            <script type="text/javascript">var listbuffer ={{songstoplay|safe}};</script>
    
    <div class="albums-container container-fluid">
        <!-- Albums -->
        <div class="row">
            <div class="col-sm-12">
                {{artwork}}
                {% if albums %}
                <div class = "maindiv">
                    <div class = "album_containers">       
                        <div class = "albums_m">
                        {% for album in albums %}
                            <div class="single_album">
                                <div class="album_logo">
                                {% url 'music:detail' album.id as link%}                                
                                    <img id="myImage" src="{{ album.album_logo.url }}" class="img-responsive" onclick="replace('{{link}}')" style="cursor: pointer;">
                                    <span class="text-block">
                                        <h5>{{album.album_title}}</h5>
                                        
                                    </span>
                                </div> 
                                <!--a href="{% url 'music:removegivenalbum' album.id %}">Remove</a-->
                                {% url 'music:removegivenalbum' album.id as link1%}
                                {% url 'music:myalbums'  as link2%}                                
                                <h5 onclick="addalbumscript('{{link1}}','{{link2}}')">get</h5>
                            </div>
                            {% cycle '' '' '' '' '' '' %}
                        {% endfor %}
                        </div>
                    </div>
                </div>    
                {% endif %}            
            </div>   
        </div>
    </div>
    </div>
    {% endblock %}
    
    