{%extends 'music/base.html'%}
{%block body%}
	{% for a in p %}
		{{a.playlist_songs.all.0.song_title}}
	{%endfor%}

<div class="container-fluid songs-container">


    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Playlist title</th>
                                <th>Open</th>
                                <th>Delete</th>
                                <th>allsongs</th>
                                <th>play</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playlist in zipped %}
                                <tr>
                                    <td>{{ playlist.0.playlist_title }}</td>
                                    <td><a href="{% url 'music:playlist' playlist.0.id %}">open</a></td>
                                    <td><a href="{% url 'music:deleteplaylist' playlist.0.id%}">Delete</a></td>
                                    <td><a href="{% url 'music:removeallsongsfromplaylist' playlist.0.id  1 %}">remove all songs</a></td>
                                    <td><button type="button" class="btn btn-success btn-xs" onclick="playthislist({{ playlist.1 }})">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
