/* Index page styles */

body{
    padding: 10px;
}
.maindiv{

}
#myImage {
    width: 100%;
    height:100%;
}
.album_title{
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 15%;
    border: 4px solid green;
}
.album_containers{
    
    padding: 30px;
    display: grid;
    /*align-items:stretch;*/
}
.album_logo{
    background: white;
    padding: 5px;
    border: 2px solid white;
    width: 100%;
    height: 85%;
}


.single_album {
    position: relative;
}
.albums_m{
    display:grid;
    padding: 0em;
    grid-template-columns: repeat(6,1fr);
    grid-gap:1rem;
    grid-auto-rows: 17em;    
}

.text-block > h5{
    text-shadow: 1px 1px 1px  rgba(0, 0,0,0.6);
    font-size: 15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.text-block {
    pointer-events: none;
    box-shadow: -2px 2px 1px rgba(0, 0,0,0.5);
    border : 4.5px solid #34495E;
    position: absolute;
    bottom: 50px;
    right :0px;
    background-color: #34495E;
    color:white;
    height: 13% !important; 
    width: 75%;
    text-align: center;
    overflow: hidden;
    font-size: 200px !important;
    padding: 4px;
} 

/* Media Query */
    @media(max-width:1050px){
        .albums_m{
            grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
        }       
        .single_album{
            max-width: 20em;
            position: relative;
        }
        .text-block {
            position: absolute;
            pointer-events: none;
            box-shadow: -2px 2px 1px rgba(0, 0,0,0.5);
            border : 4.5px solid #34495E;
            bottom: 50px;
            right :0px;
            background-color: #34495E;
            color:white;
            height: 13% !important; 
            width: 75%;
            text-align: center;
            overflow: hidden;
            font-size: 200px !important;
            padding: 4px;
        } 
    }